extends ../../layout/defaut.pug
include ../../mixins/box-head.pug
block main
    .container.my-3 
        .row 
            .col-12 
                +box-head(Danh sách sản phẩm)

        .row 
            .col-4.mb-3 
                .product-item 
                    .inner-image 
                        img(src="https://th.bing.com/th/id/OIP.cqpUr1WeABrJfh32HxXoMAHaEK?w=304&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7", alt="Iphone 9")

                    .inner-content
                        h3.inner-title Iphone 9
                        .inner-price-new 80$
                        .inner-price-old 100$
                        .inner-discount -20%