extends ../../layout/defaut.pug

block main 
    h1(class="mb-4") Thêm mới sản phẩm

    p Tiêu đề
    p Mô tả
    p Giá
    p Giảm giá
    p Số lượng
    p Ảnh 
    p Trạng thái
    p Vị trí

    script(src="/admin/js/product.js") 