mixin filter-status(items)

    each item in items 
        button(
            class=`btn btn-sm ml-1 btn-outline-success ${items.class}`
            button-status=items.status
        )   #{items.name}