mixin pagination(pagination)
    - for (var i =1 ;i<=pagination.totalPages;i++)
              li(class=`page-item ${pagination.currentPage == i ? "active" :""}`)
                button(
                    class='page-link'
                    button-pagination=i
                ) #{i}