footer.footer
      .box-container
        .box
          h3 Food Delight
          p Chào mừng bạn đến với trang web hướng dẫn nấu ăn của chúng tôi! Tại đây, bạn sẽ tìm thấy những bước hướng dẫn đơn giản và dễ làm cho mọi món ăn, từ những món quen thuộc hàng ngày đến những món đặc biệt hơn.
          .share
            a(href="#")
              i(class="fa-brands fa-facebook" style="color: #0091ff;")
            a(href="#")
              i(class="fa-brands fa-instagram" style="color: #f47567;")
            a(href="#")
              i(class="fa-brands fa-tiktok" style="color: #1a1919;")
            a(href="#")
              i(class="fa-brands fa-twitter" style="color: #74C0FC;")
        .box
          h3 contact info
          a(href="#" class="links")
            i.fas.fa-phone
            | 03797979
          a(href="#" class="links")
            i.fas.fa-phone
            | 03989898
          a(href="#" class="links")
            i.fas.fa-envelope
            | volhuuthang@gmail.com
          a(href="#" class="links")
            i.fas.fa-envelope
            | volhuuthang@dtu.edu.vn
        .box
          h3 quick links
          a(href="#" class="links")
            i.fas.fa-arrow-right
            | home
          a(href="#" class="links")
            i.fas.fa-arrow-right
            | menu
          a(href="#" class="links")
            i.fas.fa-arrow-right
            | video
          a(href="#" class="links")
            i.fas.fa-arrow-right
            | order
          a(href="#" class="links")
            i.fas.fa-arrow-right
            | feedback
          a(href="#" class="links")
            i.fas.fa-arrow-right
            | map
        .box
          h3 newsletter
          p subscribe for latest updates
          input(type="email" placeholder="your email" class="email")
          input(type="submit" value="subscribe" class="btn")
          .cart
            a(href="#")
              i(class="fa-brands fa-cc-visa" style="color: #74C0FC;")
            a(href="#")
              i(class="fa-brands fa-cc-discover" style="color: #FFD43B;")
            a(href="#")
              i(class="fa-brands fa-cc-jcb" style="color: #da512f;")
