header
      a(href="#" class="logo")
        i(class="fas fa-utensils")
        | Food Delight.
      nav.navbar
        a.active(href="#home") home
        a(href="#menu") menu
        a(href="#video") video
        a(href="#order") order
        a(href="#feedback") feedback
        a(href="#map") map