extends ../../layout/defaut.pug
include ../../mixins/filter-status.pug
include ../../mixins/form-search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/show-alert.pug
include ../../mixins/sort.pug

block main 
    +alert-success(5000)
            

    h1 Danh mục sản phẩm

        .card-header Danh sách
        .card-body
            .row 
                .col-8
                    +form-change-multi(`${prefixAdmin}/products/change-multi?_method=PATCH`)
                .col-4
                    a(
                        href=`${prefixAdmin}/products/create`
                        class="btn btn-outline-success"
                    ) + Thêm mới

        
            
          

                    