extends ../../layout/defaut.pug


block main 
    +alert-success(5000)
            

    h1 Nhóm quyền

    .card.mb-3 
        .card-header Bộ lọc và Tìm kiếm 
        .card-body
            .row 
                .col-8
                .col-4.text-right 
                    a(
                        href=`${prefixAdmin}/roles/create` 
                        class="btn btn-outline-success"
                    ) + Thêm mới
    

